body, html {
    height: 100%;
}

.bg-primary {
    background-color: #2196F3 !important; /* Replace with your desired blue color */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-container img {
    max-width: 200px;
}

.login-form-container {
    padding: 30px;
}
